<div class="sidebar">
  <div class="user-profile-data">
    <app-user-image></app-user-image>
    <div class="profile-data">
      <span class="user-name">Mike Manson</span>
      <span class="user-email">{{ "iammike@gmail.com" }}</span>
    </div>
  </div>

  <div class="menu">
    <div class="menu-item active">
      <i class="icon-inbox active"></i><span class="menu-item-name">Inbox</span
      ><span class="badge">20</span>
    </div>
    <div class="menu-item"><i class="icon-flag"></i>Flagged</div>
    <div class="menu-item"><i class="icon-draft"></i>Draft</div>
    <div class="menu-item"><i class="icon-send"></i>Sent</div>
    <div class="menu-item"><i class="icon-trash"></i>Trash</div>
    <div class="menu-item more"><i class="more-icon"></i>More</div>
  </div>
  <div class="folders">
    <div class="title">
      <span>Folders</span><span class="add-badge">Add</span>
    </div>
    <div class="folder-item"><i class="folder"></i>Office</div>
    <div class="folder-item"><i class="folder1"></i>Personal</div>
    <div class="folder-item"><i class="folder2"></i>Freelance</div>
  </div>
  <button class="compose">Compose</button>
</div>
