*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #fff;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  vertical-align: middle;
  border-style: none;
}

table {
  border-collapse: collapse;
}

ol,
ul,
dl {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote {
  quotes: none;
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[input]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[input]::-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
